input {
    beats {
        client_inactivity_timeout => 3000
		port => 5044
		ssl  => false
    }
}
filter {
	json {
		source => "message"
	}
    mutate {
		#add_field => {
		#	"deviceId" => "%{messageParsed.deviceId}" 
		#	"maxTemperature" => "%{messageParsed.maxTemperature}" 
		#	"meanTemperature" => "%{messageParsed.meanTemperature}" 
		#	"minTemperature" => "%{messageParsed.minTemperature}" 
		#	"maxHumidity" => "%{messageParsed.maxHumidity}" 
		#	"meanHumidity" => "%{messageParsed.meanHumidity}" 
		#	"minHumidity" => "%{messageParsed.minHumidity}" 
		#	"maxWind" => "%{messageParsed.maxWind}" 
		#	"meanWind" => "%{messageParsed.meanWind}" 
		#	"isEnable" => "%{messageParsed.isEnable}" 
		#	"timestamp" => "%{messageParsed.timestamp}" 
		# }
		remove_field => [ "message", "agent", "ecs" ]	
  }
}
output {
  elasticsearch {
    hosts => ["https://192.168.22.11:9200"]
    index => "edgecluster-new"
    ssl_certificate_verification => false
    user => "elastic"
    password => "#PASSWORD#"
 }
  file {
      path => "/var/log/logstash/output.log"
  }
}